/* eslint-env node */
{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "airbnb-base"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "root": true,
    "ignorePatterns": ["dist"],
    "rules": {
      "indent": ["error", 4],
      "import/extensions": "off",
      "import/no-unresolved": "off",
      "import/prefer-default-export": "off",
      "no-restricted-syntax": "off",
      "linebreak-style": "off"
    }
}